.muted {
    -fx-text-fill: rgba(0,0,0,0.6);
}

.title {

}

#newMessages {
    -fx-background-color: rgb(23, 202, 100);
    -fx-background-radius: 30px;
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
}
* {
    -fx-font-smoothing-type: lcd !important;
}