/* defining some global variables to be used throughout the stylesheet hierarchy */
/* they are usable in all loaded stylesheets */
.root {
    -fx-accent: #419fd9;
    -fx-background-hover: #f1f1f1;
    -fx-white: #fff;
}

.button{
    -fx-font-size: 14;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-pref-height: 30;
    -fx-min-width: 30;
    -fx-background-color: -fx-white;
    -fx-border-color: #cccccc;
}

.button:hover{
    -fx-background-color: -fx-background-hover;
}

.button:focused{
    -fx-effect: dropshadow(gaussian, #b4d1f3, 0, 0, 0, 0);
}

*:focused, *:selected {
    -fx-background-insets: 0 !important;
}

.img-button, .img-button:hover {
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.7;
    /* default image remove later */
    -fx-background-image: url("/icons/emojiSmall.png");
}

.img-button:hover{
    -fx-opacity: 0.9;
}

.img-button:selected, .img-button:focused {
    -fx-focus-color: transparent;
}

.scroll-bar {
    -fx-background-color: black;
    -fx-opacity: 0.25;
    -fx-background-insets: 0;
}

.thumb {
    -fx-opacity: 0.5;
    -fx-color: black;
}

.thumb:hover, .thumb:selected {
    -fx-background-color: black;
    -fx-opacity: 1;
}

/* padding to keep the spacing between the cells to the defined values in the respective fxml */
.list-cell {
    -fx-padding: 0;
}

.text-field{
    -fx-font-size: 14;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: -fx-white;
    -fx-border-color: #cccccc;
}

.border{
    -fx-border-color: lightgrey;
    -fx-border-width: 1px;
}