#background-right {
    -fx-background-color: #419fd9;
    /*-fx-border-radius: 18px;*/
    -fx-background-radius: 6px;
}
#text-right {
    -fx-text-fill: #ffffff;
}

#background-left {
    -fx-background-color: rgb(241, 240, 240);
    -fx-background-radius: 6px;
}

#text-left {
    -fx-text-fill: #000000;
}

.userIdMessageCell{
    -fx-text-fill: #3192ce !important;
}
/*
.timestampMessageCell{
    -fx-text-fill: dimgrey !important;
}*/