.transparent-bg {
    -fx-background-color: black;
    -fx-opacity: 0.25;
}

.white-bg {
    -fx-background-color: white;
    -fx-background-radius: 5px;
}

.selector .list-cell:empty, .selector .list-cell:empty:hover {
    -fx-background-color: transparent;
}

.selector .list-cell:odd {
    -fx-background-color: transparent;
}

.selector .list-cell:hover, .selector .list-cell:selected:hover {
    -fx-background-color: -fx-background-hover;
}

/* if the chat cell is selected make the labels white */
.selector .list-cell:selected .userName {
    -fx-text-fill: -fx-accent;
}

.selector .list-cell:selected {
    -fx-background-color: transparent;
}

.split-pane-divider {
    -fx-padding: 1px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.backButton{
    -fx-image: url("/icons/back.png") !important;
}

.nextButton{
    -fx-image: url("/icons/next.png") !important;
}