
.chat-selector .list-cell:empty, .chat-selector .list-cell:empty:hover {
    -fx-background-color: transparent;
}

.chat-selector .list-cell:hover {
    -fx-background-color: -fx-background-hover;
}

/* if the chat cell is selected make the labels white */
.chat-selector .list-cell:focused .label, .chat-selector .list-cell:focused .label {
    -fx-text-fill: -fx-white;
}

.chat-selector .list-cell:focused, .chat-selector .list-cell:selected {
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-white;
}

.split-pane-divider {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

#newChatImageButton{
    -fx-image: url("/icons/pencil.png");
}

#vBoxSearchNewChat, #vBoxSearchNewChat:focused, #vBoxSearchNewChat:selected{

    -fx-background-color: -fx-white;
}

#chatListView, #chatListView:focused, #chatListView:selected{
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#vBoxSearchNewChat, #vBoxSearchNewChat:focused, #vBoxSearchNewChat:selected{
    -fx-border-width: 0px;
}

