
.list-cell {
    -fx-background-color: transparent;
}
.list-cell:selected, .list-cell:focused, .list-cell:filled {
    -fx-text-fill: #333;
}
.list-view {
    -fx-background-color: transparent;
}

#sendButton {
    -fx-background-image: url("/icons/sendSmall.png");

}
#emojiButton {
    -fx-background-image: url("/icons/emojiSmall.png");
}

#currentChat {
    -fx-background-image: url("/img/background_wide.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.emoji-button {
    -fx-margin: 5px;
}

.gif-button {

}

.text-area, .text-area:selected, .text-area:focused {
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-effect: none;
}

.sticker-button {

}

.text-area{
    -fx-background-color: -fx-white;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-effect: innershadow(gaussian, transparent, 0, 0, 0, 0);
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

#vBoxChatWindow, #hBoxPane{
    -fx-background-color: -fx-white;
    -fx-border-width: 0px;
}

#chatInfoButton{
    -fx-background-image: url("/icons/info.png");
}


/*.list-cell:filled:selected:focused, .list-cell:filled:selected {*/
/*-fx-background-color: transparent;*/
/*}*/

/*.list-cell:empty {*/
/*visibility: hidden;*/
/*}*/

/*.list-view {*/
/*fx-background-color: transparent !important;*/
/*}*/

/*#currentChat {*/
/*-fx-background-image: url("/icons/background.jpeg");*/
/*-fx-background-size: cover;*/
/*-fx-background-repeat: no-repeat;*/
/*-fx-background-position: center;*/
/*}*/